<div class="jumbotron">
    <h1>What's Going On?</h1>
    <p>Here's some text for me to look at.</p>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
    <%= link_to 'About Me', home_about_path, class: 'btn btn-primary' %>

</div>